* {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    overflow-x: hidden;
}

#threejs-canvas {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
}